---
---

@import "{{ site.theme }}";

.hide {
    display: none;
}

.hidden {
    display: none;
}

.page-header {
    color: #fff;
    text-align: center;
    background-color: #ffffff;
    background-image:linear-gradient(120deg, #155799, #159957);
    background-image: url('/assets/img/midgard-twitter-cover-tiny.jpg');
    background-size: 1200px 400px;
    background-repeat: no-repeat;
    background-position: 50% 35%;
    height: 400px;
}

nav {
    text-align: center;
    .btn {
        display: inline-block;
        margin-bottom: 1rem;
        color: rgba(180,110,67, 0.7);
        background-color: rgba(180,110,67, 0.08);
        border-color: rgba(180,110,67, 0.2);
        border-style: solid;
        border-width: 1px;
        border-radius: 0.3rem;
        transition: color 0.2s, background-color 0.2s, border-color 0.2s;
      
        &:hover {
          color: rgba(180,110,67, 0.8);
          text-decoration: none;
          background-color: rgba(180,110,67, 0.2);
          border-color: rgba(180,110,67, 0.3);
        }
      
        + .btn {
          margin-left: 1rem;
        }
      
        @include large {
          padding: 0.75rem 1rem;
        }
      
        @include medium {
          padding: 0.6rem 0.9rem;
          font-size: 0.9rem;
        }
      
        @include small {
          display: block;
          width: 100%;
          padding: 0.75rem;
          font-size: 0.9rem;
      
          + .btn {
            margin-top: 1rem;
            margin-left: 0;
          }
        }
      }   
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $section-headings-color;
}

.list {
  padding: 16px 0;
  border-bottom: solid 1px rgba(180,110,67, 0.7);
  a {
    color:  rgba(180,110,67, 1);
  }
}