<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

    {% seo %}
    <link href="{{ site.logo }}" rel="shortcut icon">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta property="og:image" content="{{ site.image }}" />


  </head>
  <body>
    <a class="hide" id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name hidden">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline hidden">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
    </header>

    <nav>
      <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="buttons" id="buttons">
        <a href="/" class="btn">Home</a>
        <a href="/whatis" class="btn">What is a stake pool</a>
        <a href="/wallets" class="btn">Wallets</a>
        <a href="/howto" class="btn">How to</a>
        <a href="/cost" class="btn">Cost</a>
        <a href="/nodes" class="btn">Nodes</a>
        <a href="/whoami" class="btn">Who am I</a>
      </div>
      
    </nav>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
        <p>
          <a href="https://t.me/midgardpool">Telegram</a> | 
          <a href="https://twitter.com/adamidgard">Twitter</a> | 
          <a href="https://pooltool.io/pool/edbf17f6796a0434a8269f000cf2cba87452abf39c9967c8a318f456/epochs">Pooltool.io</a> | 
          <a href="https://adapools.org/pool/edbf17f6796a0434a8269f000cf2cba87452abf39c9967c8a318f456">Adapools.org</a>
        {% if site.github.is_project_page %}
          <span class="site-footer-owner"><a href="{{ site.github.repository_url }}">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
        {% endif %}
      </p>
        <small>
          <p>
            Pool Ticker: MGARD<br/>
            Pool ID: edbf17f6796a0434a8269f000cf2cba87452abf39c9967c8a318f456
         </p>
        </small>
      </footer>
    </main>
    <script src="{{ '/assets/js/main.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>
</html>


  